<main class='user-profile'>
  <h1><%= @greeting %></h1>
  <table class='user-profile-data'>
    <tr>
      <td>Email:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <%= @user.address %><br>
        <%= "#{@user.city}, #{@user.state} #{@user.zip}" %>
      </td>
    </tr>
  </table>
  <%= link_to "Edit Profile", admin_user? && @user.role != 'admin' ?
                              edit_user_path :
                              profile_edit_path %>
  <%= link_to "User Orders", @orders_path if @orders.length > 0 %>
  <%= link_to "Upgrade to Merchant", @role_path, method: :patch if @role_path %>
</main>
