<main class='user-profile'>
  <h1>Welcome, <%= @user.name %></h1>
  <table class='user-profile-data'>
    <tr>
      <td>Email:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <%= @user.address %><br>
        <%= "#{@user.city}, #{@user.state} #{@user.zip}" %>
      </td>
    </tr>
  </table>
  <%= link_to "Edit Profile", edit_profile_path(@user), class: 'edit-profile-button' %>
</main>