<main class='user-profile'>
  <h1><%= @greeting %></h1>
  <table class='user-profile-data'>
    <tr>
      <td>Email:</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <%= @user.address %><br>
        <%= "#{@user.city}, #{@user.state} #{@user.zip}" %>
      </td>
    </tr>
  </table>
  <%= link_to "Edit Profile", profile_edit_path(id: @user.id), class: 'edit-profile-button' %>
  <%= link_to  "My Orders", profile_orders_path if @orders.length > 0 %>
</main>
