<main class='user-profile'>
  <h1>Welcome, <%= current_user.name %></h1>
  <table class='user-profile-data'>
    <tr>
      <td>Email:</td>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <%= current_user.address %><br>
        <%= "#{current_user.city}, #{current_user.state} #{current_user.zip}" %>
      </td>
    </tr>
  </table>
  <%= link_to "Edit Profile", profile_edit_path, class: 'edit-profile-button' %>
</main>