<main class='dashboard-items'>

<h2> All Merchant Items </h2>

<div class="add-new-item">
  <%= button_to  "Add an Item", carts_path, method: 'get' %>
</div>

  <% @items.each do |item| %>
  <div id="item_<%=item.id %>">
    <h3><%= item.name %></h3>
    <%= image_tag item.thumbnail %>
    <ul>
      <li>Item ID: <%= item.id %>
      <li>Price: $<%= item.price %>
      <li>Description: <%= item.description %>
      <li>Inventory: <%= item.inventory %>
    </ul>
    <%= link_to "Edit Item", edit_item_path(item) %>
    <h5>Status: <%= item.enabled ? "Enabled" : "Disabled" %></h5>
    <% disable_button_text = item.enabled ? "Disable" : "Enable" %>
    <%= button_to disable_button_text, item, :method => 'delete' %>
    </div>
  <% end %>
</main>
