<main class='dashboard-items'>

<h2> All Merchant Items </h2>

<div class="add-new-item">
  <%= link_to "Add New Item", new_dashboard_item_path %>
</div>

  <% @items.each do |item| %>
    <h3><%= item.name %></h3>
    <%= image_tag item.thumbnail %>
    <ul>
      <li>Item ID: <%= item.id %>
      <li>Price: $<%= item.price %>
      <li>Inventory: <%= item.inventory %>
    </ul>
    <%= button_to "Add Item", carts_path(item_id: item.id), class: "btn btn-danger" %>
  <% end %>
</main>
