<main class='orders-index'>
  
  <h1><%= @heading %></h1>

  <% @orders.each do |order| %>
    <h3><%= link_to "Order #{order.id}", order_path(order.id), class: 'order-show-link' %></h3>
    <ul>
      <li>Created at: <%= order.created_at %></li>
      <li>Updated at: <%= order.updated_at %></li>
      <li>Status: <%= order.status %></li>
      <li>Total Quantity: <%= order.total_quantity %></li>
      <li>Total Price: <%= order.total_price %></li>
    </ul>
      <% if order.status == 'pending' %>
        <%= button_to "Cancel Order", order_path(order.id), :method => 'delete' %>
      <% end %>
  <% end %>

</main>
