<h1>Order <%= @order.id %></h1>
  <h4><strong>Status: </strong><%= @order.status %></h4>
  <h4><%= @user.name %></h4>
  <p><%= @user.address %></p>
  <p><%= "#{@user.city}, #{@user.state} #{@user.zip}" %></p>
  <% @order.order_items.each do |oi| %>
    <%= image_tag  oi.item.thumbnail %>
    <ul>
        <li><strong><%= oi.item.name %></strong></li>
        <li><strong>Price: </strong><%= oi.price %></li>
        <li><strong>Quantity: </strong><%= oi.quantity %></li>
    </ul>
  <% end %>
