<main>
<% if admin_user? || merchant_user? %>
  <%= button_to  "Add an Item", new_item_path, method: 'get' %>
<% end %>

   <% @items.each do |item| %>
   <div id="item_<%= item.id %>">
     <h3><%= link_to "#{item.name}", item_path(item.id), class: 'item-show-link' %></h3>
     <%= link_to item_path(item) do %> <%=image_tag item.thumbnail %>
     <%end%>
     <ul>
       <li>Item ID: <%= item.id %>
       <li>Price: $<%= item.price %>
       <li>Inventory: <%= item.inventory %>
     </ul>
     <%= button_to "Add Item", carts_path(item_id: item.id), class: "btn btn-danger" %>
   </div>
 <% end %>
</main>
