<main class='add-item'>
  <h1>Add Item</h2>
  <%= form_for @item do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :price %>
    <%= f.number_field :price, min: 1, step: 1 %>
    <%= f.label :inventory %>
    <%= f.number_field :inventory, min: 1 %>
    <%= f.label :thumbnail %>
    <%= f.text_field :thumbnail, :value => '' %>
    <%= f.submit %>
  <% end %>

</main>