<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  Cart: <%= @cart.count_all %>
    <div id="container">
      <div class='flash-container'>
        <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: type %>
        <% end %>
      </div>
      <div id="user_header">
        <% if current_user %>
          Logged in as <%= current_user.name %>.
          <%= link_to "Log Out", logout_path %>
        <% else%>
          <%= link_to "Register", register_path %> or
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>
      <nav class='nav-container'>
        <% if !current_user %>
          <%= render 'layouts/visitor_nav' %>
        <% elsif current_user.role == 'registered_user' %>
          <%= render 'layouts/user_nav' %>
        <% elsif current_user.role == 'merchant' %>
          <%= render 'layouts/merchant_nav' %>
        <% elsif current_user.role == 'admin' %>
          <%= render 'layouts/admin_nav' %>
        <% end %>
      </nav>
      <%= yield %>
    </nav>
  </body>
</html>
